<!doctype html>
<html lang="en">

    <head>
        <title>About the Creators</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
        <link href="main-site-styles.css" rel="stylesheet"/>

        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    </head>

    <body>

        <div class="main-page">
            <div class="sidebar">
                <h2>MORE PROJECTS!</h2>
                <hr />
                <a class="button" href="#">Python to Java Translator</a>
                <a class="button" href="#">Coming soon!</a>
                <a class="button" href="#">Coming soon!</a>
                <a class="button" href="#">Coming soon!</a>
            </div>
            <div class="content-container">
                <div class="header">
                    <div class="header-left">
                        <a href="#">Back</a>
                    </div>
                    <div class="header-right">
                        <a href="#">Home</a> 
                        <a href="#">Contact Us</a>
                    </div>
                </div>
                <h1>About the Creators</h1>
                <div class="content">
                    <div class="person">
                        <div class="image">
                            <img src="https://loremflickr.com/240/320">
                        </div>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inc
                            ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="person">
                        <div class="image">
                            <img src="https://loremflickr.com/240/320">
                        </div>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inc
                            ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>