{% load static %}
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    /*font-size: 20px;*/
    font-size: calc(15px + 0.5vw);
}

body, html {
    background-image: linear-gradient(rgba(33, 37, 41, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/PythonJavaTranslator/img/Travis-scott.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body-content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.body-box {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-self: center;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #5c6784;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    height: 50px;
    /*background-color: #1d263b;*/
    margin-bottom: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*position: fixed;*/
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    margin-left: 10px;
}

.header-left a {
    font-size: 140%;
    padding-left: 10px;
    position: fixed;
}

.header-right a,
.header-left a {
    text-decoration: none;
    /*color: #065E88;*/
    color: #fff;
}

/* Form body */
h1 {
    font-size: 400%;
    text-align: center;
    color: #000000;
    position: relative;
}

h1:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -4px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;

}
h3 {
    margin-top: 5px;
    font-size: 75%;
    color: #000000;
    text-align: right;
}

.body-box h2 {
    text-align: center;
    padding: 15px;
    font-size: 130%;
    color: #000000;
}

.body {
    flex: 1;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-row {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 20px;
}

#info-button {
    margin-top: 0;
    padding: 0;
}

.form-row p {
    margin-right: 10px;
    color: #000000;
}

.form-row input {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(100, 100, 100, 0.3);
    transition: 0.2s;
    color: #2d4e6e;
}

.form-row input:focus {
    border-bottom: 2px solid #1d263b;
}

.form-row button {
    background-color: #5c6784;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/*#body-boy-subheader a {*/
/*    font-size: 50%;*/
/*}*/


/* Sidebar */
.sidebar {
    height: 90%;
    margin-left: 20px;
    flex: 0 1 auto;
    width: auto;
    max-width: 230px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    bottom: 0; /* Stay at the top */
    left: 0;
    background-color: #1d263b;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #5c6784;
}

.sidebar h2 {
    color: white;
    font-weight: 300;
    font-size: 80%;
    text-align: center;
    margin: 15px 10px 15px;
}

.sidebar-header:after {
    content: "";
    position: absolute;
    top: 70px;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background: rgba(255, 255, 255, 0.5);
}

.sidebar li:first-of-type {
    margin-top: 40px;
}

.sidebar li {
    padding: 5px;
    list-style: none;
}

.sidebar a {
    text-decoration: none;
    margin-top: 10px;
    font-size: 60%;
    color: white;
    font-weight: 300;
}

/* Page 2 */
textarea {
    margin-top: 20px;
    padding: 1px 10px;
    width: 30vw;
    border-color: white;
    background-color: rgba(244, 255, 243, 0.17);
    color: #000000;
    resize: none;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.title-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-row img {
    max-width: 120px;
    height: 100%;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title h2 {
    font-size: 150%;
    padding: 0;
}

/* width */
.lyrics-output::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.lyrics-output::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.lyrics-output::-webkit-scrollbar-thumb {
    background: #1d263b;
    border-radius: 10px;
}

/* Handle on hover */
.lyrics-output::-webkit-scrollbar-thumb:hover {
    background: #e0e8db;
}

.row {
    display: flex;
}

#body-box-subheader {
    justify-content: space-between;
}

#body-box-subheader a {
    text-decoration: none;
    font-size: 75%;
}

#body-box-subheader a:link,
#body-box-subheader a:hover,
#body-box-subheader a:active,
#body-box-subheader a:visited {
    color: #000000;
}

.stats-list {
    margin: 25px 0 25px 25px;
}

.stats-list li {
    margin-top: 15px;
    list-style: none;
    color: #000000;
}

.stats-list span {
    font-weight: bold;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #1d263b rgba(205, 205, 205, 0);
    }
}