{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <title>About the Creators</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
        
        <link href="{% static 'PythonJavaTranslator/css/about-the-creators.css' %}" rel="stylesheet"/>

        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    </head>

    <body>

        <div class="main-page">
            <div class="sidebar">
                <h2>Our Portfolio!</h2>
                <hr />
                <a class="button" href="/translator/">Python to Java Translator</a>
                <a class="button" href="#">Coming soon!</a>
                <a class="button" href="#">Coming soon!</a>
                <a class="button" href="#">Coming soon!</a>
            </div>
            <div class="content-container">
                <div class="header">
                    <div class="header-left">
                        <a href="#">Back</a>
                    </div>
                    <div class="header-right">
                        <a href="/home/">Home</a> 
                        <a href="#">Contact Us</a>
                    </div>
                </div>
                <h1>About the Creators</h1>
                <div class="content">
                    <div class="person">
                        <div class="image">
                            <img src="https://loremflickr.com/240/320">
                        </div>
                        <p class="text">Sourish is a boi, lmao I'll come back to this soon</p>
                    </div>
                    <div class="person">
                        <div class="image">
                            <img src="{% static 'PythonJavaTranslator/img/IMG_4121.JPG' %}">
                        </div>
                        <p class="text">Parker is a freshman studying computer science and data science at the University
                            of Wisconsin-Madison. He has a strong passion for programming and data and has previously
                            interned at LiquidSpace. When Parker is not coding, he enjoys spending his time
                            with friends, playing tennis and table tennis, and watching Stranger Things.</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>