@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #393939;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-right span {
    margin-left: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main-page {
    display: flex;
    justify-content: flex-end;
    flex: 0 1 80%;
}

.main-page {}

h1 {
    text-align: center;
}

.content {
    display: flex;
    
}

.person {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 50px;
}

.person div {
    align-self: center;
}

.person img {
    width: auto;
    height: auto;
}

.person p {
    margin-top: 20px;
}