{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>About the Creators</title>
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">

    <link href="{% static 'PythonJavaTranslator/css/about-the-creators.css' %}" rel="stylesheet"/>
    <link rel="icon" href="{% static 'PythonJavaTranslator/img/icon.png' %}">
</head>

<body>

<div class="main-page">
    <div class="sidebar">
{#        <h2><a href="/home/#portfolio">Our Portfolio!</a></h2>#}
        <h2>Our Portfolio!</h2>
        <hr/>
        <a class="button" href="/translator/">Python to Java Translator</a>
        <a class="button" href="/rap-analyzer/">Rap Analyzer</a>
{#        <a class="button" href="/lyric-generator/">Lyric Generator</a>#}
        <a class="button" href="#">Coming soon!</a>
    </div>
    <div class="content-container">
        <div class="header">
            <div class="header-left">
                {#                <a href="#">Back</a>#}
            </div>
            <div class="header-right">
                <a href="/home/">Home</a>
            </div>
        </div>
        <h1>About the Creators</h1>
        <div class="content">
            <div class="person">
                <div class="image">
                    <img src="{% static 'PythonJavaTranslator/img/this-the-only-half-decent-pic-of-me-sorry-for-the-sunglasses.jpg' %}">
                </div>
                <p class="text">Sourish is a freshman pursuing a double major in computer science and economics at the
                    University of Wisconsin-Madison. He loves computer science because of the critical thinking
                    and problem solving skills it demands. Besides coding, Sourish also enjoys public speaking and
                    reading the news. In his free time, he's found linking up with friends, playing
                    video games, or reading. </p>
                <div class="more">
                    <a href="mailto:sourishkundu07@gmail.com"><br>
                    <span>Email: </span>sourishkundu07@gmail.com</a><br>
                    <a href="https://sourish07.github.io" class="personal-link" target="_blank">Personal website!</a>
                </div>
            </div>
            <div class="person">
                <div class="image">
                    <img src="{% static 'PythonJavaTranslator/img/cutie.JPG' %}">
                </div>
                <p class="text">Parker is a student studying computer science and data science at the University
                    of Wisconsin-Madison. He has a strong passion for programming and data and will be interning
                    at Capital One this upcoming summer. He has also previously interned at Curate and Liquidspace.
                    When Parker is not coding, he enjoys spending his time
                    with friends, playing tennis, working out, and watching Stranger Things.</p>
                <div class="more">
                    <a href="mailto:pswanson@freemind.com"><br><span>Email: </span>pswanson@freemind.com</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>