<!DOCTYPE html>
<html>
    <body>
        
        <h1>Python to Java Translator</h1>
        
        <! –– Creates a form so that we can send some data to Django ––>
        <! –– Whenever the Translate button is pressed, it sends a Http request to the {root}/home/translate/ webpage and send a POST request because we are creating something, not GETting ––>
        <form action="/home/translate/" method="post">{% csrf_token %} <! –– This is just for security purposes ––>
            <textarea id="input" name="content" placeholder="Paste your Python code here!" rows=25 cols=75>{{code.input}}</textarea> 
            <! –– Django sends the HTML file a dictionary with the only key being 'code'. Above, we're just accessing the input the user typed in. Below, we access the translated output ––>
            <textarea id="output" placeholder="Your Java code will be outputted here!" rows=25 cols=75 readonly="readonly">{{code.output}}</textarea>
            <br/>
            <input type="submit" value="Translate"/> <! –– Creates the button to be displayed, the type attribute is what triggers the form ––>
        </form>     

        
        <! –– This is a temporary function that isn't being used. It'll be changed to implement some clear functionality ––>
        <script>
            function myFunction() {
                var x = document.getElementById("input").value;
                
                document.getElementById("output").textContent = x;
            }
        </script>

    </body>
</html>