{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>madlabs.dev</title>

    <link
            href="{% static 'PythonJavaTranslator/css/main-site-styles.css' %}"
            rel="stylesheet"
    />
    <link rel="icon" href="{% static 'PythonJavaTranslator/img/icon.png' %}">
</head>

<body>
<section class="main-page">
    <div class="header">
        <div class="header-left">
            MadLabs
        </div>
        <div class="header-right">
            <a href="/home/about/">About</a>
        </div>
    </div>
    <div class="welcome">
        <h1>Welcome to MadLabs!</h1>
    </div>
    <div class="pointer">
        <a href="#portfolio">Our Portfolio!</a>
    </div>
</section>

<section class="portfolio" id="portfolio">
    <div class="project">
        <div class="card card-img">
            <div class="content">
                <img src="{% static 'PythonJavaTranslator/img/PythonToJavaTranslatorImage.png' %}"/>
            </div>
        </div>
        <div class="card card-text">
            <div class="content">
                <h3>Python to Java Translator</h3>
                <p>
                    This application translates Python and Java code. It is able to convert many different
                    aspects of the languages and accomplishes it very swiftly.
                </p>
                <h3>Tools/Frameworks used</h3>
                <p>
                    On the backend we used Python, and on the frontend we used CSS, HTML, and JavaScript.
                    We also used Bootstrap, Django, and Heroku.
                </p>
                <a href="/translator/">Check it out!</a>
                <a href="https://github.com/parkerswanson19/PythonJavaTranslator" target="_blank">View our code!</a>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="card card-img">
            <div class="content">
                <img src="{% static 'PythonJavaTranslator/img/RapAnalyzer.png' %}"/>
            </div>
        </div>
        <div class="card card-text">
            <div class="content">
                <h3>Rap Analyzer</h3>
                <p>
                    This application takes a given rap song and returns an analysis of the lyrics. The user learns
                    the number of expletives used, the average grade level the song was written at, and much more.
                </p>
                <h3>Tools/Frameworks used</h3>
                <p>
                    We used Python for the backend, and HTML and CSS for the frontend. For the lyrics, the Genius API
                    was used. Postgresql was used as the database, storing all of the songs analyzed.
                </p>
                <a href="/rap-analyzer/">Check it out!</a>
                <a href="https://github.com/parkerswanson19/PythonJavaTranslator" target="_blank">View our code!</a>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="card card-img">
            <div class="content">
                <img src="{% static 'PythonJavaTranslator/img/Placeholder.png' %}"/>
            </div>
        </div>
        <div class="card card-text">
            <div class="content">
                <h3>(Something Raseberry Pi?)</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    eveniet totam recusandae eum nulla, id dolore facere debitis
                    doloribus eius.
                </p>
                <h3>Tools/Frameworks used</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    eveniet totam recusandae eum nulla, id dolore facere debitis
                    doloribus eius.
                </p>
                <a href="#">Lorem, ipsum.</a>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="card card-img">
            <div class="content">
                <img src="{% static 'PythonJavaTranslator/img/Placeholder.png' %}"/>
            </div>
        </div>
        <div class="card card-text">
            <div class="content">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    eveniet totam recusandae eum nulla, id dolore facere debitis
                    doloribus eius.
                </p>
                <h3>Lorem ipsum dolor sit.</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    eveniet totam recusandae eum nulla, id dolore facere debitis
                    doloribus eius.
                </p>
                <a href="#">Lorem, ipsum.</a>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="card card-img">
            <div class="content">
                <img src="{% static 'PythonJavaTranslator/img/Placeholder.png' %}"/>
            </div>
        </div>
        <div class="card card-text">
            <div class="content">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    eveniet totam recusandae eum nulla, id dolore facere debitis
                    doloribus eius.
                </p>
                <h3>Lorem ipsum dolor sit.</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    eveniet totam recusandae eum nulla, id dolore facere debitis
                    doloribus eius.
                </p>
                <a href="#">Lorem, ipsum.</a>
            </div>
        </div>
    </div>
    <div class="project">
        <div class="card card-img">
            <div class="content">
                <img src="{% static 'PythonJavaTranslator/img/Placeholder.png' %}"/>
            </div>
        </div>
        <div class="card card-text">
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    eveniet totam recusandae eum nulla, id dolore facere debitis
                    doloribus eius.
                </p>
                <a href="#">Lorem, ipsum.</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
