{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <title>madlabs.dev</title>
        
        <link href="{% static 'PythonJavaTranslator/css/main-site-styles.css' %}" rel="stylesheet"/>
    </head>

    <body>
        <div class="main-page">
            <div class="header">
                <div class="header-left">
                    MadLabs
                </div>
                <div class="header-right">
                    <a href="/home/about/">About</a> 
                    <a href="#">Contact</a>
                </div>

            </div>
            <div class="welcome">
                <h1>Welcome to MadLabs!</h1>
            </div>
            <div class="pointer">
                Our Portfolio!
            </div>
        </div>

        <div class="portfolio">
            <div class="project">
                <div class="image">
                    <img src="https://loremflickr.com/320/240?random=1">
                </div>
            </div>
            <div class="project">
                <div class="image">
                    <img src="https://loremflickr.com/320/240?random=2">
                </div>
            </div>
            <div class="project">
                <div class="image">
                    <img src="https://loremflickr.com/320/240?random=3">
                </div>
            </div>
            <div class="project">
                <div class="image">
                    <img src="https://loremflickr.com/320/240?random=4">
                </div>
            </div>
        </div>


    </body>
</html>