{% extends 'rap-analyzer.html' %}
{% block body-content %}
    <div class="body-box">
        <h1>Rap Analyzer</h1>
        <div class="row" id="body-box-subheader">
            <a href="#" onclick="history.go(-1)">Search again</a>
            <a href={{ code.url }}>Genius.com</a>
        </div>
        <div class="title-row">
            <img src={{ code.img_url }}>
            <div id="title">
                <h2>{{ code.title }}</h2>
                <h3>{{ code.all_artists }}</h3>
            </div>
            <img id="title-row-header-img" src={{ code.header_url }}>
        </div>
        <div class="row main-content">
            <textarea class="lyrics-output" readonly="readonly">{{ code.lyrics }}</textarea>
            <ul class="stats-list">
                <li>Number of words:<br><span>{{ code.word_count }}</span></li>
                <li>Average grade level of song: {{ code.avg_grade_level }}<br></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;Gunning Fog
                    Index:<br>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ code.gunning_fog }}</span></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;The Flesch
                    Formula:<br>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ code.flesch_kincaid }}</span></li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;Power Sumner
                    Kearl<br>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ code.power_sumner_kearl }}</span></li>
                <li>Number of swear words:<br><span>{{ code.swear_words_count }}</span></li>
                <li>Number of adlibs:<br><span>{{ code.adlibs }}</span></li>
                <li>Number of drug references:<br><span>{{ code.drug_references }}</span></li>
                <li>Number of jewelery references<br><span>{{ code.jewelry_references }}</span></li>
            </ul>
        </div>
    </div>
{% endblock %}