{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'PythonJavaTranslator/css/rap-analyzer.css' %}" rel="stylesheet"/>
    <!-- <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet"> -->
    <title>Rap Analyzer</title>
</head>
<body>

<div class="header">
    <div class="header-left">
        <a href="/home/">madlabs.dev</a>
    </div>
    <div class="header-right">
        <a href="/home/about/">About the Creators</a>
        <a href="#">Contact Us</a>
    </div>
</div>
<div class="body">
    <div class="sidebar-container">
        <div class="sidebar">
            <h2 class="sidebar-header">MORE PROJECTS!</h2>
            <li><a href="/translator/">Python to Java Translator</a></li>
            <li><a href="#">More coming soon!</a></li>
        </div>
    </div>
    <div class="body-content">
        <div class="body-box">
            <h1>Rap Analyzer</h1>
            <div class="row" id="body-box-subheader">
                <a href="#" onclick="history.go(-1)">Go Back</a> <!-- <i class="icon arrow-md-back"></i> -->
                <a href={{ code.url }}>Check this song out on Genius.com</a>
                {#                <h3>Powered by Genius.com</h3>#}
            </div>
            <div class="title-row">
                <img src={{ code.img_url }}>
                <div id="title">
                    <h2>{{ code.song_title }}</h2>
                    <h3>{{ code.full_artists_names }}</h3>
                </div>
                <img src={{ code.header_url }}>
            </div>

            <div class="row main-content">
                <textarea class="lyrics-output" readonly="readonly">{{ code.lyrics }}</textarea>
                <ul class="stats-list">
                    <li>Number of words:<br><span>{{ code.num_of_words }}</span></li>
                    <li>Average grade level of song:<br></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;Gunning Fog
                        Index:<br>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ code.gunning_fog }}</span></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;The Flesch
                        Formula:<br>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ code.flesch }}</span></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;Power Sumner
                        Kearl<br>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{ code.power_sumner_kearl }}</span></li>
                    <li>Number of swear words:<br><span>{{ code.num_of_swear_words }}</span></li>
                    <li>Number of adlibs:<br><span>{{ code.num_of_adlibs }}</span></li>
                    <li>Number of drug references:<br><span>{{ code.num_of_drug_references }}</span></li>
                    <li>Number of jewelery references<br><span>{{ code.num_of_jewelery_references }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>