{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'PythonJavaTranslator/css/rap-analyzer.css' %}" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'PythonJavaTranslator/js/scripts.js' %}"></script>
    <title>Rap Analyzer</title>
</head>
<body>

<div class="header">
    <div class="header-left">
        <a href="/home/">madlabs.dev</a>
    </div>
    <div class="header-right">
        <a href="/home/about/">About the Creators</a>
        {#<a href="/home/">More Projects!</a>#}
    </div>
</div>
<div class="body">
    <div class="sidebar-container">
        <div class="sidebar">
            <div class="sidebar-slide">
                <h2 class="sidebar-slide-header">Songs with the<br>{{ adlibs_list.0 }}</h2>
                {% for stat in adlibs_list.1 %}
                    <div class="list-item">
                        <img src="{{ stat.img_url }}">
                        <a href="{{ stat.url }}">{{ stat.title }}</a>
                        <span>{{ stat.adlibs }} ad libs</span>
                    </div>
                {% endfor %}
            </div>
            <div class="sidebar-slide">
                <h2 class="sidebar-slide-header">Songs with the<br>{{ swear_words_list.0 }}</h2>
                {% for stat in swear_words_list.1 %}
                    <div class="list-item">
                        <img src="{{ stat.img_url }}">
                        <a href="{{ stat.url }}">{{ stat.title }}</a>
                        <span>{{ stat.swear_words_count }} words</span>
                    </div>
                {% endfor %}
            </div>
            <div class="sidebar-slide">
                <h2 class="sidebar-slide-header">Songs with the<br>{{ drug_ref_list.0 }}</h2>
                {% for stat in drug_ref_list.1 %}
                    <div class="list-item">
                        <img src="{{ stat.img_url }}">
                        <a href="{{ stat.url }}">{{ stat.title }}</a>
                        <span>{{ stat.drugs }} references</span>
                    </div>
                {% endfor %}
            </div>
            <div class="sidebar-slide">
                <h2 class="sidebar-slide-header">Songs with the<br>{{ jewelery_ref_list.0 }}</h2>
                {% for stat in jewelery_ref_list.1 %}
                    <div class="list-item">
                        <img src="{{ stat.img_url }}">
                        <a href="{{ stat.url }}">{{ stat.title }}</a>
                        <span>{{ stat.jewelry }} references</span>
                    </div>
                {% endfor %}
            </div>
            <div class="sidebar-slide">
                <h2 class="sidebar-slide-header">Songs with the<br>{{ high_grade_lvl_list.0 }}</h2>
                {% for stat in high_grade_lvl_list.1 %}
                    <div class="list-item">
                        <img src="{{ stat.img_url }}">
                        <a href="{{ stat.url }}">{{ stat.title }}</a>
                        <span>Grade {{ stat.reading_level_g }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="sidebar-slide">
                <h2 class="sidebar-slide-header">Songs with the<br>{{ low_grade_lvl_list.0 }}</h2>
                {% for stat in low_grade_lvl_list.1 %}
                    <div class="list-item">
                        <img src="{{ stat.img_url }}">
                        <a href="{{ stat.url }}">{{ stat.title }}</a>
                        <span>Grade {{ stat.reading_level_g }}</span>
                    </div>
                {% endfor %}
            </div>
            <div style='text-align: center;'>
                <span class="dot" onclick='currentSlide(1)'></span>
                <span class="dot" onclick='currentSlide(2)'></span>
                <span class="dot" onclick='currentSlide(3)'></span>
                <span class="dot" onclick='currentSlide(4)'></span>
                <span class="dot" onclick='currentSlide(5)'></span>
                <span class="dot" onclick='currentSlide(6)'></span>
            </div>
            <div class="slide-buttons">
                <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
                <a class="next" onclick='plusSlides(1)'>&#10095;</a>
            </div>
        </div>
    </div>

    <div class="body-content">
        {% block body-content %}
            <div class="body-box">
                <h1>Rap Analyzer</h1>
                <h3>Powered by Genius.com</h3>
                <form action="/rap-analyzer/analyze/" method="post">{% csrf_token %}
                    <div class="form-row">
                        <p>Name of song</p>
                        <input type="text" name="song-name" value="" placeholder="Name"/>
                    </div>
                    <div class="form-row">
                        <p>Name of artist</p>
                        <input type="text" name="artist-name" value="" placeholder="Artist (Optional)"/>
                    </div>
                    <div class="form-row">
                        <p>Don't know the name or artist?</p>
                        <input type="text" name="lyrics" value="" placeholder="Lyrics"/>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn">
                            Analyze!
                        </button>
                    </div>
                </form>
                <div id="info-button" class="form-row">
                    <button type="button" class="btn trigger">
                        How does this work?
                    </button>
                    <div class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>
                                    Welcome to our Rap Music Analyzer!
                                </h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Imperdiet massa tincidunt nunc
                                    pulvinar
                                    sapien et ligula. At tempor commodo ullamcorper a lacus vestibulum. Dictum at
                                    tempor
                                    commodo ullamcorper. Dolor purus non enim praesent elementum facilisis.
                                    Phasellus
                                    vestibulum lorem sed risus ultricies tristique nulla. Scelerisque eleifend donec
                                    pretium
                                    vulputate. Ut tristique et egestas quis ipsum suspendisse. Pretium aenean
                                    pharetra
                                    magna
                                    ac placerat vestibulum lectus mauris ultrices. Interdum velit euismod in
                                    pellentesque.
                                    Feugiat sed lectus vestibulum mattis ullamcorper velit. Justo eget magna
                                    fermentum
                                    iaculis eu non. Nibh ipsum consequat nisl vel.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="close-button" class="link3-close-modal">
                                    Close
                                </button>
                                <button type="button" class="modal-btn">
                                    Contact us
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body-content %}
    </div>
</div>
</body>
</html>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);
</script>