{% load static %}
<!DOCTYPE html>

<html lang="en">

<head lang="en">
    <link href="{% static 'PythonJavaTranslator/css/translator-styles.css' %}" rel="stylesheet" />
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
    <link href="{% static 'PythonJavaTranslator/fonts/style.css' %}" rel="stylesheet" />
    <title>madlabs.dev</title>
</head>

<body>
    <div class="header">
        <div class="header-left">
            <a href="/home/">madlabs.dev</a>
        </div>
        <div class="header-right">
            <a href="/home/about/">About the Creators</a>
        </div>
    </div>
    <div class="body">
        <div class="sidebar">
            <h2 class="sidebar-header">MORE PROJECTS!</h2>
            <li><a href="/rap-analyzer/">Rap Analyzer</a></li>
            <li><a href="#">More coming soon!</a></li>
        </div>
        <div class="main-content">
            <div class="row">
                <a class="nav-link" href="/translator/">
                    <h1>Python to Java Translator</h1>
                </a>
            </div>
            <form action="/translator/translate/" method="post" class="form row">{% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <p class="labels">Python</p>
                        <textarea id="input" name="content" rows="20" cols="20" class="form-control"
                            placeholder="# Paste your Python code here!">{{ code.input }}</textarea>
                    </div>
                    <a href="#java-to-python-not-yet-supported">
                        <i class="icon ion-md-swap"></i>
                    </a>
                    <div class="form-group">
                        <p class="labels">Java</p>
                        <textarea readonly id="output" rows="20" cols="20" class="form-control"
                            placeholder="// Your Java code will be outputted here.">{{ code.output }}</textarea>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn">
                        Translate
                    </button>
                </div>
            </form>
            <div class="row">
                <button type="button" class="btn trigger">
                    More information!
                </button>
            </div>
            <div class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>
                            Welcome to our code translator! We currently
                            only support Python to Java but support for more
                            languages is on its way! If you find any bugs or
                            have any questions, don't hesitate to contact
                            us.
                        </h4>
                        <p>
                            <strong>Currently supported features! (Click on one
                                for sample code)</strong>
                        </p>
                    </div>
                    <div class="modal-body">
                        <div class="documentation">
                            <li>
                                <a href="#" onclick="variables()"  class="link1-close-modal">Variable
                                    declarations</a>
                            </li>
                            <li>
                                <a href="#" onclick="comments()" class="link2-close-modal">Comments</a>
                            </li>
                            <li>
                                <a href="#" onclick="prints()" class="link3-close-modal">Print statements</a>
                            </li>
                            <li>
                                <a href="#" onclick="math()" class="link4-close-modal">Mathematical operations</a>
                            </li>
                            <li>
                                <a href="#" onclick="whiles()" class="link5-close-modal">While loops</a>
                            </li>
                            <li>
                                <a href="#" onclick="ifElses()" class="link6-close-modal">If/Else statements</a>
                            </li>
                            <li>
                                <a href="#" onclick="fors()" class="link7-close-modal">For loops</a>
                            </li>
                            <li>
                                <a href="#" onclick="lists()" class="link8-close-modal">Lists</a>
                            </li>
                            <li>
                                <a href="#" onclick="tryCatches()" class="link9-close-modal">Try/Catch blocks</a>
                            </li>
                            <li>
                                <a href="#" onclick="userInput()" class="link10-close-modal">User input</a>
                            </li>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="close-button" class="link3-close-modal">
                            Close
                        </button>
                        <button href="/home/about/" type="button" class="modal-btn">
                            Contact us
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>

<script>
    var modal = document.querySelector(".modal");
    var trigger = document.querySelector(".trigger");
    var closeButton = document.querySelector(".close-button");
    

    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }
    
    trigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);

    var link1 = document.querySelector(".link1-close-modal");
    link1.addEventListener("click", toggleModal);

    var link2 = document.querySelector(".link2-close-modal");
    link2.addEventListener("click", toggleModal);

    var link3 = document.querySelector(".link3-close-modal");
    link3.addEventListener("click", toggleModal);

    var link4 = document.querySelector(".link4-close-modal");
    link4.addEventListener("click", toggleModal);

    var link5 = document.querySelector(".link5-close-modal");
    link5.addEventListener("click", toggleModal);

    var link6 = document.querySelector(".link6-close-modal");
    link6.addEventListener("click", toggleModal);

    var link7 = document.querySelector(".link7-close-modal");
    link7.addEventListener("click", toggleModal);

    var link8 = document.querySelector(".link8-close-modal");
    link8.addEventListener("click", toggleModal);

    var link9 = document.querySelector(".link9-close-modal");
    link9.addEventListener("click", toggleModal);

    var link10 = document.querySelector(".link10-close-modal");
    link10.addEventListener("click", toggleModal);
</script>
<script>
    function variables(){
        var text = "name = \"Buckingham U. 'Bucky' Badger\"\nyearOfBirth = 1940\nheight = 6.1\nisBestMascot = True\nrivals = ['Goldy the Gopher', 'Biff the Wolverine', 'Cy the Cardinal']\n# Hit translate below!";
        document.getElementById("input").value = text;
    }
    function comments(){
        var text = "# This is a comment\n# Ugh, why does my CS teacher want me to add these all the time?\n# Hit translate below!";
        document.getElementById("input").value = text;
    }
    function prints(){
        var text = "print('Hello, world!')\nname = 'John Smith'\nprint('Hello, ' + name)\n# Hit translate below!";
        document.getElementById("input").value = text;
    }
    function math(){
        var text = "# How many cookies will each child get?\nnumOfCookies = 16\nnumOfChildren = 4\ncookiesPerChild = numOfCookies / numOfChildren\nprint('Each child gets ' + str(cookiesPerChild) + ' cookies.'\n# Hit translate below!";
        document.getElementById("input").value = text;
    }
    function whiles(){
        var text = "# Pyramid Printer\nnumOfRows = 5\nrowNum = 1\nwhile rowNum <= numOfRows:\n    numOfSpaces = numOfRows - rowNum\n    numOfStars = rowNum * 2 - 1\n    while numOfSpaces > 0:\n        print(' ', end='')\n        numOfSpaces -= 1\n    while numOfStars > 0:\n        print('*', end='')\n        numOfStars -= 1\n    print()\n    rowNum += 1\n# Hit translate below!";
        document.getElementById("input").value = text;
    }
    function ifElses(){
        var text = "grade = 5\nif grade <= 5:\n    print(\"You're in elementary school.\")\nelif grade <= 8:\n    print(\"You're in middle school.\")\nelif grade <= 12:\n    print(\"You're in high school.\")\nelse:\n    print(\"You're either in college or in the workforce.\"\n# Hit translate below!)";
        document.getElementById("input").value = text;
    }
    function fors(){
        var text = "# For loop iterating through a list\nlist = ['a', 'b', 'c']\nfor i in list:\n    print(i)\n# For loop using range function\nfor i in range(0, 10):\n    print('Hello!')\n# For loop iterating through string\nname = 'Bucky'\nfor i in name:\n    print(i)\n# Hit translate below!";
        document.getElementById("input").value = text;
    }
    function lists(){
        var text = "favoritePlaces = ['home', 'school', 'Starbucks']\nfavoritePlaces.append('Coldstone')\nfavoritePlaces.remove('school')\nfavoritePlaces.pop(0)\n# Hit translate below!";
        document.getElementById("input").value = text;
    }
    function tryCatches(){
        var text = "try:\n    x = 5\n    y = 9\n    z = x + y\n    if z > 6:\n        raise ValueError('Z is too large')\nexcept ValueError:\n    print('There's been an error')\n# Hit translate below!";
        document.getElementById("input").value = text;
    }
    function userInput(){
        var text = "name = input('What is your name?')\nprint('Hello, ' + name + '!')\n# Hit translate below!";
        document.getElementById("input").value = text;
    }
</script>